@model AdminDashboard_ShoppingWebsite.Models.SanPham

@{
    ViewBag.Title = "Quản lí sản phẩm";
    Layout = "~/Views/_AdminLayout.cshtml";
    ViewBag.Active = 2;
}

<h2>Create</h2>
@using (Html.BeginForm("Create","QLSanPham",FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SanPham</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tên Sản Phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tensanpham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tensanpham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giá Sản Phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.giasanpham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.giasanpham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Số Lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tonkho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tonkho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hình Ảnh</label>
            <div class="col-md-10">
                <input type="file" name="hinhanh"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
